:root {
  --blue: hsl(223, 87%, 63%);
  --paleBlue: hsl(223, 100%, 88%);
  --lightRed: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --veryDarkBlue: hsl(209, 33%, 12%);
}

* {
  padding: 0%;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 87.5%;
}

body {
  font-family: 'Libre Franklin',sans-serif;
  overflow: hidden;
}

input, form {
  font-family: 'Libre Franklin',sans-serif;
}

.container {
  height: 95vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.container .card {
  width: 80%;
  max-width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.container .logo {
  margin-bottom: 3rem;
}

.container .text-Header {
  font-size: 1.5rem;
  color: var(--gray);
  margin-bottom: 2rem;
}

.container .text-Header .soon {
  color: black;
  font-weight: 700;
}

.container .text-subHeader {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.container .form {
  width: 100%;
}

.container .form input {
  width: 100%;
  opacity: 0.5;
  border-radius: 2rem;
  padding: 1rem 0;
  text-align: left;
  font-weight: 300;
  padding-left: 2rem;
  margin-bottom: 1rem;
  border: 1px solid;
  border-color: var(--blue);
}

.container .form p {
  color: var(--lightRed);
  margin-bottom: 1rem;
  font-size: 00.75rem;
  display: none;
}

.container .button {
  background-color: var(--blue);
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  border-radius: 2rem;
  font-weight: 600;
  margin-bottom: 4rem;
}

.container .button:hover {
  cursor: pointer;
  background-color: var(--paleBlue);
}

.container .button a {
  color: #ffffff;
  text-decoration: none;
}

.container .dashboard {
  width: 100%;
  max-width: 450px;
}

footer {
  margin-top: -4rem;
}

footer .copy {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 00.75rem;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social .fab {
  margin: 0 1rem;
  border-radius: 50%;
  padding: 0.5rem 0.5rem;
  color: var(--blue);
}

.social .fab:hover {
  color: var(--paleBlue);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=styles.css.map */